<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,700;1,300&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dtok</title>
    <link rel="stylesheet" href="../resourses/css/styles.css" />
    <link rel="stylesheet" href="../resourses/css/detail_view/detail_view.css" />
    <script defer async src="../JS/app.js"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <nav class="main-nav">
                <ul>
                    <li><a href=""> <img src="/resourses/images/160832246_179509580467867_6925081713500283314_n.png"
                                alt="">
                        </a></li>
                    <li><a href="">Bài viết mới nhất</a></li>
                    <li><a href="">Tags</a></li>
                    <li><a href="">Thông tin</a></li>
                </ul>
            </nav>
            <div class="search">
                <form action="get">
                    <input class="search-textbox" type="search" name="" id="" placeholder="Sách, gái, vé xe..." />
                    <input class="search-button" type="button" value="Tìm kiếm" />
                </form>
            </div>
            <div class="account">
                <a href="" class="action-button">Login</a>
                <a href="" class="action-button">Sign up</a>
            </div>
        </div>
    </header>
    <section class="main">
        <aside class="subnav">
            <nav>
                <ul class="nav-contaienr">
                    <li class="content-nav">Conffessions</li>
                    <li class="content-nav">Old books</li>
                    <li class="content-nav">Schools</li>
                    <li class="content-nav">Exams</li>
                </ul>
            </nav>
        </aside>
        <section class="main-view">
            <div class="detail_view">
                <div class="article_section">
                    <div class="article_info">
                        <div class="wrap_article_info">
                            <div class="title">
                                <p>Make Color</p>
                            </div>
                            <div class="author">
                                <p>By author</p>
                            </div>
                        </div>
                        <div class="wrap_ex_info">
                            <p>13h50 17/03/2021</p>
                        </div>
                    </div>
                    <div class="article_content">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facilis maxime
                                praesentium illum aspernatur nihil at delectus modi. Libero reiciendis omnis cupiditate
                                ea eaque consequuntur neque et asperiores consectetur eveniet.
                                Asperiores obcaecati porro laboriosam repudiandae fuga ducimus consequuntur dolores
                                maiores nostrum incidunt dignissimos assumenda earum aperiam saepe quasi, necessitatibus
                                accusantium, tempore quidem voluptas deleniti odio. Pariatur ullam veritatis vel ea!
                                Dolores blanditiis recusandae provident delectus nesciunt sunt? Maiores quidem provident
                                debitis accusantium veniam modi amet tempore a recusandae ab itaque quos error, repellat
                                nobis esse fugit, sed molestias deserunt eius.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit autem tenetur aliquid.
                                Facere soluta aliquam omnis laboriosam iusto modi expedita, odio nihil adipisci
                                aspernatur unde delectus libero eveniet porro rem?
                                Rem similique obcaecati ipsum hic nihil, nostrum minima a nesciunt, sunt illo
                                consequuntur laudantium, quae reprehenderit suscipit eum. Iusto nisi tempora,
                                praesentium vel ipsam officia molestias voluptas reprehenderit repellendus tenetur.
                                Amet repudiandae cum est. Voluptates excepturi veritatis reprehenderit necessitatibus
                                cum, autem suscipit vero expedita magnam, voluptatibus neque, porro ducimus accusamus
                                sed fugit odit! Non maxime labore similique nam porro ab.</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus hic aperiam
                                excepturi, quae vero quas quod ex. Rem delectus ea non quis et. Est ad cum unde facilis
                                voluptatibus voluptates.
                                Temporibus voluptates nesciunt quisquam culpa rerum deserunt? Nulla minima aut cumque
                                quo veniam temporibus doloribus minus, magni explicabo ad a debitis quisquam consectetur
                                doloremque maxime quidem dolores! Atque, rem dignissimos?
                                Labore earum quam sed voluptatem iusto, provident doloremque nesciunt amet quibusdam nam
                                natus deserunt repellendus excepturi rem eveniet deleniti distinctio, harum quia,
                                ducimus in aut. Error, quidem non. Dolores, quod?</p>
                        </div>
                    </div>
                    <div class="article_react">article react</div>
                </div>
                <div class="comment_section">
                    <div class="comment_head">
                        <p>Comments (350)</p>
                    </div>
                    <div class="comment_container">
                        <div class="comment">
                            <div class="comment_info">
                                <div class="author">A Xin</div>
                                <div class="time">2 giờ trước</div>
                            </div>
                            <div class="comment_content">Bài viết như Shit.</div>
                            <div class="comment_dtok"></div>
                        </div>
                        <div class="comment">
                            <div class="comment_info">
                                <div class="author">A Xin</div>
                                <div class="time">2 giờ trước</div>
                            </div>
                            <div class="comment_content">Bài viết như Shit.</div>
                            <div class="comment_dtok"></div>
                        </div>
                        <div class="comment">
                            <div class="comment_info">
                                <div class="author">A Xin</div>
                                <div class="time">2 giờ trước</div>
                            </div>
                            <div class="comment_content">Bài viết như Shit.</div>
                            <div class="comment_dtok"></div>
                        </div>
                        <div class="comment">
                            <div class="comment_info">
                                <div class="author">A Xin</div>
                                <div class="time">2 giờ trước</div>
                            </div>
                            <div class="comment_content">Bài viết như Shit.</div>
                            <div class="comment_dtok"></div>
                        </div>
                        <div class="comment">
                            <div class="comment_info">
                                <div class="author">A Xin</div>
                                <div class="time">2 giờ trước</div>
                            </div>
                            <div class="comment_content">Bài viết như Shit.</div>
                            <div class="comment_dtok"></div>
                        </div>
                        <div class="comment">
                            <div class="comment_info">
                                <div class="author">Lê Đức Huy</div>
                                <div class="time">2 giờ trước</div>
                            </div>
                            <div class="comment_content">Viết bài ngu vc.</div>
                            <div class="comment_dtok"></div>
                        </div>
                        <div class="comment">
                            <div class="comment_info">
                                <div class="author">Nguyễn Thành Quốc Huy</div>
                                <div class="time">2 giờ trước</div>
                            </div>
                            <div class="comment_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                                beatae impedit, quos nobis odit sunt voluptas repellendus blanditiis, omnis odio
                                suscipit quae quod vitae eaque dignissimos vel. Ad, reprehenderit ullam.</div>
                            <div class="comment_dtok"></div>
                        </div>
                    </div>
                    <div class="your_comment">your comment</div>
                </div>
            </div>
        </section>
        <footer>

        </footer>
    </section>
</body>

</html>