<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,700;1,300&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dtok</title>
    <link rel="stylesheet" href="../resourses/css/styles.css">
</head>

<body>
    <header>
        <div class="navbar">
            <nav class="main-nav">
                <ul>
                    <li class="brand"><a href="">Dtok</a></li>
                    <li><a href="">Bài viết mới nhất</a></li>
                    <li><a href="">Tags</a></li>
                    <li><a href="">Thông tin</a></li>
                </ul>
            </nav>
            <div class="search">
                <form action="get">
                    <input class="search-textbox" type="search" name="" id="" placeholder="Sách, gái, vé xe...">
                    <input class="search-button" type="button" value="Tìm kiếm">
                </form>
            </div>
            <div class="account">
                <a href="" class="action-button">Login</a>
                <a href="" class="action-button">Sign up</a>
            </div>
        </div>
    </header>
    <section class="main">
        <aside class="content-aside">
            <nav>
                <ul class="nav-contaienr">
                    <li class="content-nav">Conffessions</li>
                    <li class="content-nav">Old books</li>
                    <li class="content-nav">Schools</li>
                    <li class="content-nav">Exams</li>
                </ul>
            </nav>
        </aside>
        <section class="main-view">
            <div class="ad">
                <div class="banner_image">

                </div>
            </div>
            <div class="highlight-article">
                <div class="main-header">
                    <p>Nổi bật</p>
                </div>
                <div class="article_container">
                    <div class="article">
                        <div class="header_image"></div>
                        <div class="typo_container">
                            <div class="title">
                                <p>Make Color</p>
                            </div>
                            <div class="author">A Xin</div>
                            <div class="public_date">cách đây 3 ngày</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="header_image"></div>
                        <div class="typo_container">
                            <div class="title">
                                <p>Make Color</p>
                            </div>
                            <div class="author">A Xin</div>
                            <div class="public_date">cách đây 3 ngày</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="header_image"></div>
                        <div class="typo_container">
                            <div class="title">
                                <p>Make Color</p>
                            </div>
                            <div class="author">A Xin</div>
                            <div class="public_date">cách đây 3 ngày</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="header_image"></div>
                        <div class="typo_container">
                            <div class="title">
                                <p>Make Color</p>
                            </div>
                            <div class="author">A Xin</div>
                            <div class="public_date">cách đây 3 ngày</div>
                        </div>
                    </div>
                    <div class="article">
                        <div class="header_image"></div>
                        <div class="typo_container">
                            <div class="title">
                                <p>Make Color</p>
                            </div>
                            <div class="author">A Xin</div>
                            <div class="public_date">cách đây 3 ngày</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>