* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-spacing: 0px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    position: fixed;
}

.navbar {
    background-color: #910000;
    display: flex;
    flex-wrap: wrap;
}

.navbar__brand {
    color: white;
    padding: 30px 40px;
}

.navbar__brand a {
    color: white;
}

.navbar__navitem ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80px;
    overflow: hidden;
}

.navbar__navitem li {
    float: left;
    padding: 14px 16px;
}

.navbar__navitem li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar__navitem li:hover {
    background-color: #e61415;
    color: white;
}

.navbar__search-form {
    margin: 20px 30px;
    display: inline-block;
}

.navbar__search-form .search-bar {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar__search-form .search-button {
    background-color: #ff7675;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.navbar__search-form .search-button:hover {
    background-color: #fab1a0;
}

.main {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
}

.main__brand-image {
    background-image: url("../images/fabian-moller-gI7zgb80QWY-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.main-section {
    display: flex;
}

.main__content-container {
    width: 80%;
}

.main__subcontent {
    width: 20%;
}

.main__subcontent__login {

}

.login__button {
    display: inline-block;
    
}

.footer {
    background-color: #550b0b;
    height: 60px;
}

.footer p {
    text-align: center;
    padding: 20px;
    color: wheat;
}
