@import "./colors";
@import "./buttons";
@import "./articles";
@import "./typo";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    text-decoration: none;
}

body {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    color: white;
    .navbar {
        background-color: $mainHeaderColor;
        display: flex;
        flex-wrap: wrap;
        .main-nav {
            li {
                display: inline-block;
                padding: 20px 10px;
                transition: all 0.3;
                &:hover {
                    background-color: $navbarHoverColor;
                }
                a {
                    color: white;
                }
            }
            .brand {
                padding: 20px 40px;
                font-weight: bold;
                font-size: larger;
            }
        }
    }
    .search {
        align-items: center;
        margin: auto;
        .search-textbox {
            border-radius: none;
            padding: 10px 15px;
        }
        .search-button {
            padding: 10px 15px;
            @extend .button-in-dark-backgroud;
        }
    }
    .account {
        margin: auto;
        .action-button {
            @include action-button;
        }
    }
}

.main {
    height: 100%;
    padding-top: 65px;
    display: flex;
    .content-aside {
        width: 15%;
        height: 100vh;
        position: fixed;
        background-color: $mainLeftSideBarColor;
        .nav-container {
            display: flex;
            flex-direction: column;
            flex-flow: column;
        }
        .content-nav {
            padding: 20px 0px 20px 40px;
            color: white;
            &:hover {
                background-color: $mainLeftSideBarHoverColor;
            }
        }
    }
    .main-view {
        width: 100%;
        padding-left: 230px;
        margin: 30px 30px;
        .ad {
            background-image: url("/resourses/images/sebastian-molina-fotografia-natjj0CTa-s-unsplash.jpg");
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            height: 260px;
        }
        .main-header {
            @include articleHeader;
            margin-top: 30px;
        }
        .article_container {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            .large_article {
                width: 50%;
                padding: 10px;
                .article {
                    @include largeArticle;
                }
            }
            .small_article {
                display: flex;
                flex-direction: row;
                flex-flow: row;
                flex-wrap: wrap;
                flex-basis: 50%;
                justify-items: right;
                .wrapcontent_article {
                    width: 50%;
                    padding: 10px;
                    .article {
                        @include article;
                    }
                }
            }
        }
    }
}
