.button, .button-in-dark-backgroud, header .search .search-button, header .account .action-button {
  display: inline-block;
  padding: 10px 20px;
}

.button-in-dark-backgroud, header .search .search-button {
  background-color: black;
  border: 1px solid white;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}

body {
  height: 100%;
}

.brand a img {
  height: 40px;
}

header {
  position: fixed;
  width: 100%;
  height: 40px;
  color: white;
}

header .navbar {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .main-nav li {
  display: inline-block;
  padding: 20px 10px;
  -webkit-transition: all 0.3;
  transition: all 0.3;
}

header .navbar .main-nav li:hover {
  background-color: #c10000;
}

header .navbar .main-nav li a {
  color: white;
}

header .navbar .main-nav .brand {
  padding: 20px 40px;
  font-weight: bold;
  font-size: larger;
}

header .search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

header .search .search-textbox {
  border-radius: none;
  padding: 10px 15px;
}

header .search .search-button {
  padding: 10px 15px;
}

header .account {
  margin: auto;
}

header .account .action-button {
  border: 1px solid white;
  color: white;
}

.main {
  height: 100%;
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .subnav {
  width: 15%;
  height: 100%;
  position: fixed;
  background-color: #1e272e;
}

.main .subnav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: column;
      flex-flow: column;
}

.main .subnav .content-nav {
  padding: 20px 0px 20px 40px;
  color: white;
}

.main .subnav .content-nav:hover {
  background-color: #2d3436;
}

.main .main-view {
  width: 100%;
  padding-left: 230px;
  margin: 30px 30px;
}

.main .main-view .ad {
  background-image: url("/resourses/images/sebastian-molina-fotografia-natjj0CTa-s-unsplash.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 260px;
}

.main .main-view .main_header {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #d1d8e0;
  padding-bottom: 5px;
  margin-top: 30px;
}

.main .main-view .article_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.main .main-view .article_container .large_article {
  width: 50%;
  padding: 10px;
}

.main .main-view .article_container .large_article .article {
  height: 270px;
  border: 1px solid #d1d8e0;
  border-bottom: 3px solid #d1d8e0;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}

.main .main-view .article_container .large_article .article .header_image {
  height: 50%;
  background-image: url("/resourses/images/ian-dooley-kVJdgGPSUSI-unsplash.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.main .main-view .article_container .large_article .article .typo_container {
  padding: 20px;
}

.main .main-view .article_container .large_article .article .typo_container .title {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
  font-weight: bold;
}

.main .main-view .article_container .large_article .article .typo_container .author {
  margin-top: 30px;
}

.main .main-view .article_container .large_article .article .typo_container .public_date {
  font-size: 12px;
  color: #bdc3c7;
  margin-top: 4px;
}

.main .main-view .article_container .large_article .article .shorted_content {
  font-size: 14px;
}

.main .main-view .article_container .small_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  justify-items: right;
}

.main .main-view .article_container .small_article .wrapcontent_article {
  width: 50%;
  padding: 10px;
}

.main .main-view .article_container .small_article .wrapcontent_article .article {
  height: 270px;
  border: 1px solid #d1d8e0;
  border-bottom: 3px solid #d1d8e0;
}

.main .main-view .article_container .small_article .wrapcontent_article .article .header_image {
  height: 50%;
  background-image: url("/resourses/images/ian-dooley-kVJdgGPSUSI-unsplash.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.main .main-view .article_container .small_article .wrapcontent_article .article .typo_container {
  padding: 20px;
}

.main .main-view .article_container .small_article .wrapcontent_article .article .typo_container .title {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
  font-weight: bold;
}

.main .main-view .article_container .small_article .wrapcontent_article .article .typo_container .author {
  margin-top: 30px;
}

.main .main-view .article_container .small_article .wrapcontent_article .article .typo_container .public_date {
  font-size: 12px;
  color: #bdc3c7;
  margin-top: 4px;
}

.main .main-view .article_container .horizontal_large_article {
  height: 270px;
  border: 1px solid #d1d8e0;
  border-bottom: 3px solid #d1d8e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row;
      flex-flow: row;
  height: 280px;
  width: 100%;
  border: 1px solid #d1d8e0;
  border-bottom: 3px solid #d1d8e0;
}

.main .main-view .article_container .horizontal_large_article .header_image {
  height: 50%;
  background-image: url("/resourses/images/ian-dooley-kVJdgGPSUSI-unsplash.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.main .main-view .article_container .horizontal_large_article .typo_container {
  padding: 20px;
}

.main .main-view .article_container .horizontal_large_article .typo_container .title {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
  font-weight: bold;
}

.main .main-view .article_container .horizontal_large_article .typo_container .author {
  margin-top: 30px;
}

.main .main-view .article_container .horizontal_large_article .typo_container .public_date {
  font-size: 12px;
  color: #bdc3c7;
  margin-top: 4px;
}

.main .main-view .article_container .horizontal_large_article .thumnail_image {
  width: 50%;
  height: 100%;
  background-image: url("/resourses/images/freestocks-8a95EVm0ovQ-unsplash.jpg");
  background-size: cover;
}

.main .main-view .article_container .horizontal_large_article .wrap_content {
  width: 50%;
  margin: 10px;
}

.main .main-view .article_container .horizontal_small_article_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.main .main-view .article_container .horizontal_small_article_container .wrapcontent_article {
  height: 200px;
  width: 50%;
  padding: 10px;
}

.main .main-view .article_container .horizontal_small_article_container .article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #d1d8e0;
  border-bottom: 3px solid #d1d8e0;
}

.main .main-view .article_container .horizontal_small_article_container .article .thumnail_image {
  background-image: url("/resourses/images/freestocks-8a95EVm0ovQ-unsplash.jpg");
  background-size: cover;
  height: 100%;
  width: 50%;
}

.main .main-view .article_container .horizontal_small_article_container .article .typo_container {
  width: 50%;
  padding: 20px;
}

.main .main-view .article_container .horizontal_small_article_container .article .typo_container .title {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
  font-weight: bold;
}

.main .main-view .article_container .horizontal_small_article_container .article .typo_container .author {
  margin-top: 30px;
}

.main .main-view .article_container .horizontal_small_article_container .article .typo_container .public_date {
  font-size: 12px;
  color: #bdc3c7;
  margin-top: 4px;
}

.main footer {
  width: 100%;
  height: 70px;
  background-color: #ecf0f1;
  color: white;
}
/*# sourceMappingURL=styles.css.map */